@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-control-container .leaflet-control-attribution {
  display: none !important;
}

.leaflet-bottom.leaflet-right {
  display: none !important;
}
